.dragon-health,
.knight-health {
  text-align: end;
  color: #ffffff;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.dragon-health {
  background: linear-gradient(90deg, #6f1414, #a61f1f);
}

.knight-health {
  background: linear-gradient(90deg, #1f3b5c, #2e5f99);
}

.game-character-image {
  width: 50%;
}

.game-character-image:first-child {
  display: flex;
  justify-content: flex-start;
}

.game-character-image:last-child {
  display: flex;
  justify-content: flex-end;
}

.character-image {
  width: 100%;
  padding-right: 2rem;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  transition: transform 1s ease;
}

.knight-image {
  transform: translateX(10%);
}

.knight-image.knight-attack,
.knight-image.knight-defend {
  transform: translateX(-30%);
}

.game-characters-images-container.game-over-mode {
  justify-content: center;
}

.game-characters-images-container.game-over-mode .game-character-image {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
  margin-bottom: -5rem;
}

.game-characters-images-container.game-over-mode .character-image {
  transform: none !important;
  padding: 0 !important;
  width: clamp(250px, 60vw, 450px);
}